.guitar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    text-align: center;
    width: 60%;
    font-size: 90px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;

}

.header p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 170px;
    margin-bottom: 30px;
}

.videos h1 {
    margin-top: 30px;
    font-size: 60px;
}

.guitar-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
}

.guitar-arrow-btn {
    height: 315px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: linear-gradient(270deg, #2f86bc 10%, #9d15ff 100%);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    min-width: 32px;
    min-height: 315px;
    box-sizing: border-box;
}

@media(max-width:768px) {
    .guitar {
        margin-top: 100px;
    }

    .header h1 {
        font-size: 70px;
    }
}