.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 80px;
    width: 50%;
    border-radius: 50px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(270deg, #2f86bc  10%, #9d15ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 45px;
    border: 2px solid var(--bkg-color);
    border-radius: 50px;
    background: linear-gradient(264deg, #2f86bc -5.09%, #9d15ff 106.28%);
    cursor: pointer;
}

.hero-resume {
    font-size: 24px;
    font-family: 'Outfit';
    background-color: transparent;
    color: white;
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume:hover {
    border-color: #B415FF;
}

@media(max-width:768px) {
    .hero img {
        margin-top: 100px;
        width: 500px;
    }

    .hero h1{
        margin-top: 30px;
        width: 90%;
        font-size: 50px;
    }

    .hero p {
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }

    .hero-action { 
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect {
        padding: 20px 30px;
        border-radius: 40px;
    }

    .hero-resume {
        padding: 20px 50px;
        border-radius: 40px;
    }
}