.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    padding: 20px 30px;
    background: #0F061A;
    background: linear-gradient(0deg,rgba(15, 6, 26, 1) 0%, rgba(0, 71, 97, 1) 115%);
    z-index: 10;
}

.logo {
    padding: 0px 20px;
    width: 40px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    margin-top: 15px;
    gap: 45px;
    font-size: 20px;
}

.nav-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #2f86bc 0.36%, #9d15ff 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect img {
    max-width: 50px;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-menu li:hover {
    transform: scale(1.1);
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close, .nav-mob-open {
    display: none;
}

@media(max-width:768px) {
    .navbar {
        margin: 0;
        width: 100vw;
        left: 0;
        right: 0;
        top: 0;
        position: fixed;
        border-radius: 0;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
        cursor: pointer;
    }

    .nav-mob-close {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 30px;
        cursor: pointer;
        z-index: 101;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    
    .navmenu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}