.footer { 
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
}

.footer-top { 
    display: flex;
    justify-content: space-between;
}

.footer-top-left p {
    font-size: 60px;
    font-weight: 600;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-email-input {
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #32323b;
    padding-right: 80px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.footer-email-input:hover {
    transform: scale(1.05);
}

.footer-email-input input { 
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}

.footer-subscribe { 
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(264deg, #2f86bc -5.09%, #951dff 106.28%);
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.footer-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-bottom-right {
    border: solid green 3px; 
    display: flex;
    width: 50%;
    gap: 50px;
    margin-bottom: 0; 
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}

.footer-email-input:hover { 
    border: 2px solid white;
}

.footer-subscribe:hover { 
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:768px) {
    .footer {
        margin: 50px 70px;
    }

    .footer-top {
        flex-direction: column;
        gap: 25px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        margin-bottom: 50px;
    }

    .footer-top-left p {
        font-size: 50px;
        margin-bottom: 0px;
    }

    .footer-bottom-right {
        visibility: hidden;
    }

    .footer-bottom-left {
        width: 100%;
        text-align: right;
        margin-bottom: 0px;    
    }

    .footer-subscribe {
        font-size: 20px;
        padding: 22px 35px;
        border-radius: 50px;
        background: linear-gradient(264deg, #2f86bc -5.09%, #951dff 106.28%);
        cursor: pointer;
        transition: 0.3s;
    }

}

span {
    background: linear-gradient(270deg, #65b2e2  50%, #9d15ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}