:root {
	/* Colors */
	--bkg-color: #0f061a;
	
	color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: var(--bkg-color);
    color: white;
    font-family: 'outfit';
}